:root {
    --clr-text: #fffffe;
    --clr-background: #252525;
    --clr-back-dark: #121212;
    --clr-primary: #505050;
    --clr-rgba-primary:rgba(0, 136, 169, 1);
    --clr-rgba-blue-primary:rgba(0, 136, 169, 0.8);
    --clr-black: #000000;
    --clr-glow: #ffffff;
    --clr-discord: #313338;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;  
    padding: 0;
}

body {
    background-color: var(--clr-background);
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Google Font */
.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Nav Bar */
li, a, button {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 14px;
    color: var(--clr-text);
    text-decoration: none;  
}

.nav-links-r a {
    font-weight: 800;
    font-size: 18px;  
}

button {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 17px;
    color: var(--clr-text);
    text-decoration: none;  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: var(--clr-back-dark);
}

.logo {
    cursor: pointer;
}

.nav-links, .nav-links-r, .sidebar {
    list-style: none;
}

.nav-links li, .nav-links-r li, .sidebar li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a, .nav-links-r li a, .sidebar li a {
    transition: all 0.3S ease 0S;
}

.nav-links li a:hover, .nav-links-r li a:hover, .sidebar li a:hover {
    color: var(--clr-primary);
}

button {
    padding: 9px 25px;
    background-color: var(--clr-back-dark);
    border: 3px solid #fffffe;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3S ease 0S;
}

button:hover {
    background-color: var(--clr-glow);
    color: var(--clr-black);
}

.nav-icon {
    display: none;
}

.sidebar {
    display: none;
}

/* Responsive Sidebar */
@media screen and (max-width: 725px) {
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: var(--clr-background);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-decoration: none;
        padding: 10px;
    }

    .sidebar li {
        width: 100%;
        font-size: 20px;
        padding-top: 10%;
    }

    .sidebar a {
        width: 100%;
        font-size: 20px;
    }

    .nav-icon {
        display: flex;
        list-style: none;
    }

    .nav-links, .cta {
        display: none;
    }

    .nav-links-r {
        margin-right: auto;
    }
}

/* Ryvex */
.ryvex {
    color: var(--clr-text);
    display: inline-flex;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.title {
    flex-direction: column;
    padding-left: 10%;
    width: 500px;
    font-size: 18px;
    font-family: "Rubik";
    font-weight: 350;
}

.title h1 {
    margin-bottom: 10%;
    font-size: 42px;
}

.title button {
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--clr-background);
}

.title button:hover {
    background-color: var(--clr-glow);
    color: var(--clr-black);
}

.logo {
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px var(--clr-back-dark);
}

/* Description/Images */
.desc {
    background-color: var(--clr-discord);
}

.img-1, .img-3 {
    color: var(--clr-text);
    display: flex;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 5%;
}

.img-2 {
    color: var(--clr-text);
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 5%;
}

.img-1 h4, .img-3 h4 {
    width: 90%;
    padding-top: 5%;
    font-size: 18px;
    font-family: "Rubik";
    font-weight: 350;
}

.img-1 h1, .img-3 h1 {
    width: 90%;
    font-size: 22px;
    padding-top: 10%;
    font-family: "Rubik";
}

.img-2 h4 {
    width: 90%;
    padding-top: 5%;
    font-size: 18px;
    font-family: "Rubik";
    font-weight: 350;
    padding-left: 10%;
}

.img-2 h1 {
    width: 90%;
    font-size: 22px;
    padding-top: 10%;
    font-family: "Rubik";
    padding-left: 10%;
}

/* Footer */
footer {
    background-color: var(--clr-back-dark);
    color: var(--clr-text);
    text-align: center;
    padding: 1%;
    font-family: "Rubik";
    position: absolute;
    width: 100%;
    margin-bottom: auto;
}
  
/* Contact Form */
input {
    background-color: var(--clr-background);
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 16px 16px;
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--clr-text);
    color: var(--clr-text);
    display: flex;
    font-weight: bold;
    font-family: "Rubik";
}

/* Text Area */
textarea {
    background-color: var(--clr-background);
    width: 50%;
    margin: auto;
    font-size: 20px;
    padding: 16px 16px;
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--clr-text);
    color: var(--clr-text);
    display: flex;
    font-weight: bold;
    font-family: "Rubik";
    margin-bottom: 5%;
}

/* Input Hover */
input:hover {
    background-color: var(--clr-text);
    color: var(--clr-black);
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Text Area Hover */
textarea:hover {
    background-color: var(--clr-text);
    color: var(--clr-black);
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Input / Text Area Main Screen */
@media screen and (max-width: 1024px) {
    input, textarea {
        width: 80%;
    }
}

form h1 {
    color: var(--clr-text);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: "Rubik";
}

@media screen and (max-width: 500px) {
    form h1 {
        color: var(--clr-text);
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10%;
        margin-top: 5%;
        font-family: "Rubik";
    }

    form button {
        margin-top: 7%;
    }
}

form button {
    background-color: var(--clr-background);
    cursor: pointer;
    display: flex;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rubik";
}

.dc-1 {
    color: var(--clr-text);
    padding: 0px 15%;
    font-family: "Rubik";
}

.dc-1 h3 {
    color: var(--clr-text);
    padding-top: 10%;
    font-size: 28px;
}

.dc-1 p {
    font-size: 18px;
}

/* Responsive Screen */
@media screen and (max-width: 1300px) {
    .img_1 {
        width: 600px;
        height: 300px;
    }

    .img_2 {
        width: 600px;
        height: 350px;
    }
    .img_3 {
        width: 600px;
        height: 400px;
    }

    .img-1 h4, .img-3 h4 {
        width: 90%;
        padding-top: 5%;
        font-size: 16px;
        font-family: "Rubik";
        font-weight: 350;
    }
    
    .img-1 h1, .img-3 h1 {
        width: 90%;
        font-size: 20px;
        padding-top: 10%;
        font-family: "Rubik";
    }
    
    .img-2 h4 {
        width: 90%;
        padding-top: 5%;
        font-size: 16px;
        font-family: "Rubik";
        font-weight: 350;
        padding-left: 10%;
    }
    
    .img-2 h1 {
        width: 90%;
        font-size: 20px;
        padding-top: 10%;
        font-family: "Rubik";
        padding-left: 10%;
    }

    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    .img_1 {
        width: 550px;
        height: 250px;
    }

    .img_2 {
        width: 550px;
        height: 300px;
    }
    .img_3 {
        width: 550px;
        height: 350px;
    }

    .img-1 h4, .img-3 h4 {
        width: 90%;
        padding-top: 5%;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 350;
    }
    
    .img-1 h1, .img-3 h1 {
        width: 90%;
        font-size: 18px;
        padding-top: 10%;
        font-family: "Rubik";
    }
    
    .img-2 h4 {
        width: 90%;
        padding-top: 5%;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 350;
        padding-left: 10%;
    }
    
    .img-2 h1 {
        width: 90%;
        font-size: 18px;
        padding-top: 10%;
        font-family: "Rubik";
        padding-left: 10%;
    }
}

@media screen and (max-width: 1100px) {
    .img_1 {
        width: 550px;
        height: 250px;
    }

    .img_2 {
        width: 500px;
        height: 300px;
    }

    .img_3 {
        width: 500px;
        height: 350px;
    }

    .img-1 h4, .img-3 h4 {
        width: 90%;
        padding-top: 5%;
        font-size: 12px;
        font-family: "Rubik";
        font-weight: 350;
    }
    
    .img-1 h1, .img-3 h1 {
        width: 90%;
        font-size: 16px;
        padding-top: 10%;
        font-family: "Rubik";
    }
    
    .img-2 h4 {
        width: 90%;
        padding-top: 5%;
        font-size: 12px;
        font-family: "Rubik";
        font-weight: 350;
        padding-left: 10%;
    }
    
    .img-2 h1 {
        width: 90%;
        font-size: 16px;
        padding-top: 10%;
        font-family: "Rubik";
        padding-left: 10%;
    }

    footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 1020px) {
    li, a, button {
        font-family: "Rubik";
        font-weight: 500;
        font-size: 12px;
        color: var(--clr-text);
        text-decoration: none;
    }

    .nav-links-r a {
        font-weight: 800;
        font-size: 16px;
    }

    .title {
        flex-direction: column;
        padding-left: 10%;
        width: 500px;
        font-size: 14px;
        font-family: "Rubik";
        font-weight: 350;
    }
    
    .title h1 {
        margin-bottom: 10%;
        font-size: 36px;
    }

    .logo {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .img_1 {
        width: 500px;
        height: 200px;
    }

    .img_2 {
        width: 450px;
        height: 250px;
    }

    .img_3 {
        width: 400px;
        height: 300px;
    }

    .img-1 h4, .img-3 h4 {
        width: 90%;
        padding-top: 5%;
        font-size: 10px;
        font-family: "Rubik";
        font-weight: 350;
    }
    
    .img-1 h1, .img-3 h1 {
        width: 90%;
        font-size: 14px;
        padding-top: 10%;
        font-family: "Rubik";
    }
    
    .img-2 h4 {
        width: 90%;
        padding-top: 5%;
        font-size: 10px;
        font-family: "Rubik";
        font-weight: 350;
        padding-left: 10%;
    }
    
    .img-2 h1 {
        width: 90%;
        font-size: 14px;
        padding-top: 10%;
        font-family: "Rubik";
        padding-left: 10%;
    }
}

@media screen and (max-width: 911px) {
    li, a, button {
        font-family: "Rubik";
        font-weight: 500;
        font-size: 10px;
        color: var(--clr-text);
        text-decoration: none;
    }

    .nav-links-r a {
        font-weight: 800;
        font-size: 14px;
    }
}

@media screen and (max-width: 850px) {
    .desc {
        flex-direction: column;
        display: flex;
    }

    .img-1, .img-3 {
        flex-direction: column;
        display: flex;
        margin-left: -6%;
        align-items: center;
    }

    .img-2 {
        flex-direction: column;
        display: flex;
        margin-left: 4%;
        align-items: center;
    }

    .img_1 {
        width: 450px;
        height: 250px;
    }

    .img_2 {
        width: 400px;
        height: 250px;
    }

    .img_3 {
        width: 400px;
        height: 300px;
    }

    .img-1 h4 {
        width: 50%;
        padding-top: 5%;
        font-size: 10px;
        font-family: "Rubik";
        font-weight: 350;
        margin-left: 25%;
        text-align: center;
    }
    
    .img-1 h1 {
        width: 50%;
        font-size: 14px;
        padding-top: 10%;
        font-family: "Rubik";
        margin-left: 25%;
        text-align: center;
    }
    
    .img-2 h4 {
        width: 70%;
        padding-top: 5%;
        font-size: 10px;
        font-family: "Rubik";
        font-weight: 350;
        margin-left: 10%;
        text-align: center;
    }
    
    .img-2 h1 {
        width: 70%;
        font-size: 14px;
        padding-top: 10%;
        font-family: "Rubik";
        margin-left: 10%;
        text-align: center;
    }

    .img-3 h4 {
        width: 70%;
        padding-top: 5%;
        font-size: 10px;
        font-family: "Rubik";
        font-weight: 350;
        align-items: center;
        margin-left: 15%;
        text-align: center;
        padding-bottom: 5%;
    }

    .img-3 h1 {
        width: 70%;
        font-size: 14px;
        padding-top: 10%;
        font-family: "Rubik";
        margin-left: 15%;
        text-align: center;
    }

    footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 818px) {
    li, a, button {
        font-family: "Rubik";
        font-weight: 500;
        font-size: 8px;
        color: var(--clr-text);
        text-decoration: none;
    }

    .nav-links-r a {
        font-weight: 800;
        font-size: 12px;
    }

    .title {
        flex-direction: column;
        padding-left: 10%;
        width: 500px;
        font-size: 12px;
        font-family: "Rubik";
        font-weight: 350;
    }
    
    .title h1 {
        margin-bottom: 10%;
        font-size: 26px;
    }

    .logo {
        width: 175px;
        height: 175px;
    }
}

@media screen and (max-width: 724px) {

    .ryvex {
        flex-direction: column;
        align-items: center;
        color: var(--clr-text);
        display: flex;
        padding-top: 10%;
        padding-bottom: 10%;
        
    }

    li, a, button {
        font-family: "Rubik";
        font-weight: 500;
        font-size: 10px;
        color: var(--clr-text);
        align-items: center;
    }

    .nav-links-r a {
        font-weight: 800;
        font-size: 12px;
    }

    .title {
        flex-direction: column;
        font-size: 12px;
        font-family: "Rubik";
        font-weight: 350;
        text-align: center;
        margin-left: -22.5%;
    }
    
    .title h1 {
        margin-bottom: 5%;
        font-size: 24px;
        text-align: center;
        padding-top: 10%;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-left: -15%;
    }
}

@media screen and (max-width: 500px) {
    .desc {
        flex-direction: column;
        display: flex;
    }

    .img-1, .img-3 {
        flex-direction: column;
        display: flex;
        margin-left: -6%;
        align-items: center;
    }

    .img-2 {
        flex-direction: column;
        display: flex;
        margin-left: 4%;
        align-items: center;
    }

    .img_1 {
        width: 300px;
        height: 150px;
    }

    .img_2 {
        width: 300px;
        height: 190px;
    }

    .img_3 {
        width: 300px;
        height: 220px;
    }

    .img-1 h4 {
        width: 50%;
        padding-top: 5%;
        font-size: 10px;
        font-family: "Rubik";
        font-weight: 350;
        margin-left: 25%;
        text-align: center;
    }
    
    .img-1 h1 {
        width: 50%;
        font-size: 14px;
        padding-top: 10%;
        font-family: "Rubik";
        margin-left: 25%;
        text-align: center;
    }
    
    .img-2 h4 {
        width: 70%;
        padding-top: 5%;
        font-size: 10px;
        font-family: "Rubik";
        font-weight: 350;
        margin-left: 10%;
        text-align: center;
    }
    
    .img-2 h1 {
        width: 70%;
        font-size: 14px;
        padding-top: 10%;
        font-family: "Rubik";
        margin-left: 10%;
        text-align: center;
    }

    .img-3 h4 {
        width: 70%;
        padding-top: 5%;
        font-size: 10px;
        font-family: "Rubik";
        font-weight: 350;
        align-items: center;
        margin-left: 15%;
        padding-bottom: 5%;
    }

    .img-3 h1 {
        width: 70%;
        font-size: 14px;
        padding-top: 10%;
        font-family: "Rubik";
        margin-left: 15%;
        text-align: center;
    }

    form {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    footer {
        font-size: 10px;
    }
}